<br><br><br>

<div>
    <h2>Historial</h2>
    <% if (usuarios.length> 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Nombre
                    </th>
                    <th scope="col">Edad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">comentario</th>
                </tr>
            </thead>
            <tbody>
                <% for(usuarios of usuarios) {%>
                    <tr>
                        <th>
                            <%=usuarios.nombre %>
                        </th>
                        <th>
                            <%=usuarios.edad %>
                        </th>
                        <th>
                            <%=usuarios.estado %>
                        </th>
                        <th>
                            <%=usuarios.puesto %>
                        </th>
                        <th>
                            <%=usuarios.comentario %>
                        </th>
                    </tr>

                    <% } %>
            </tbody>
        </table>
        <%}else{ %>
            <p class="alert alert-danger">No se encontro data, lo sentimos.</p>
            <% }%>
</div>